:root{
  background-color: rgb(231, 186, 90);
}


.all{
  text-align: center;
  margin-top: 30px;
}
.first{
  display: flex;
  justify-content: center;
}
.first input{
  font-size: 30px;
}
.first button{
  font-size: 25px;
}
.second{
  background-color: aqua;
 margin-left: 20%;
 margin-right: 20%;
}
